[2016-10-06 18:39] porta-antiporta opened #1 "Test Issue"
Lets see how this works

[2016-10-07 00:23] #1 closed, assigned to nobody

[2016-10-11 05:09] fureigh opened #4 "Add Django and sandbox setup instructions"

[2016-10-11 12:13] porta-antiporta opened #6 "Create Agency research plan"
A few questions from MURAL to prompt the research:
- [ ] decision-making structure for data-sharing w/in agencies
- [ ] decision making structure for data acceptance/verification

[2016-10-11 12:14] porta-antiporta opened #7 "Identify agency users to interview and schedule"
The following folks are people who have been listed as good folks to get introductions
- Randy Hart/Omid Ghaffari-Tabrizi (FEMA - HUD acq stack project) connections to folks at Census at HUD that have wrangled with exchange of information and privacy
  - Anna O'Hara
  - PO for HUD
- Laura Godfrey - OPP Connections at multiple agencies
- Vicky McFadden
- Joel Minton - login.gov

Contact all the abo

[2016-10-11 12:15] porta-antiporta opened #8 "Synthesize agency research"
Take the draft findings https://docs.google.com/document/d/1UDJymJ-ag6277kC1cjTS6ugNHHSiJSzCtMXuLcftZwY/edit and distill it into a public facing document

[2016-10-11 12:15] porta-antiporta opened #9 "Agency Research"

[2016-10-11 12:16] porta-antiporta opened #10 "Determine what ATO we need (and get the ball rolling)"
Preauthorization ATO or 90 Day ATO

https://pages.18f.gov/before-you-ship/

[2016-10-11 12:16] porta-antiporta opened #11 "Create infrastructure for Alpha"

[2016-10-11 12:31] porta-antiporta opened #12 "Communications"
recap of discussion with @kategarklavs.

We will keep a running journal (entries at the end of each sprint) to capture highlights, lowlights of each sprint.  This journal will be on the wiki so that there is a readily available artifact describing the progress we are making.

This journal can also be the basis for any additional communication that would need additional polish (newsletters, email u

[2016-10-11 12:54] porta-antiporta opened #13 "Identify prospective CTO/CIOs to interview and get on their calendar"
duplicate of #7

[2016-10-11 12:55] #13 closed, assigned to nobody

[2016-10-11 12:59] porta-antiporta opened #14 "Design spike: define high level approach/architecture for alpha"
Developers to define and align on architecture for Alpha:

Some items to consider:
- What infosec concerns should we be particularly conscious of
- If proceeding with an enterprise service bus approach (as we do not want to store data), how will we mock the agency endpoints?  Do we need to understand their technical stack/constraints?
- What metrics do we want to keep track of that are NOT default

[2016-10-11 13:06] porta-antiporta opened #15 "Create initial design(s) for prototype"
Create mockups/designs for the prototype that will allow us to answer (test) the following:

<s> - What is the minimum amount of data that this has to handle to make it worthwhile for users? What’s the tipping point?
- Also test if there is comfort with the more-sensitive info as well
- What’s the right balance between an up-front call to action vs. a progressive engagement, mid-form call?
- How p

[2016-10-11 18:14] fureigh opened #16 "Add USWDS"

[2016-10-11 18:37] fureigh commented on #14
As part of this, let's get clear on high-level user stories and center those.

[2016-10-11 18:45] fureigh commented on #10
Preauth is good to start! Let's look into https://pages.18f.gov/before-you-ship/ato/types/#day-authorization.

[2016-10-12 19:39] porta-antiporta opened #18 "Research: interface language involving high stakes sharing"
Research sites, products that involve users needing to authorize sharing of information and synthesize findings into a list of patterns that should inform the design for our prototype

[2016-10-12 19:42] porta-antiporta opened #19 "Investigate & create copy for privacy notices"
As we prepare for building the prototype, we will likely have to have privacy notices within the user experience.

This story will define that content and align with UX to determine how that content should be presented.

We may need to test multiple copy/prototypes around this.

[2016-10-12 19:46] porta-antiporta opened #20 "Placeholder: User Research"
During planning we will break this out into multiple stories.

In slack there are several threads around the public user.
1. Test cases/Citizen task that would be good candidates for our alpha
2. Research questions doc https://docs.google.com/document/d/1G_6YoQ9Br72saYrTax3mWGB9KJKSuISsbQoZYgTg13c/edit

[2016-10-12 19:47] porta-antiporta commented on #18
Current notes doc: https://docs.google.com/document/d/1U2CMuAf39ATlJY3__4VljfvIhVKc60sQXU4c-Hqm8iM/edit

[2016-10-12 20:25] porta-antiporta opened #21 "Review user hypotheses and craft questions to be answered in user testing"
https://docs.google.com/document/d/1G_6YoQ9Br72saYrTax3mWGB9KJKSuISsbQoZYgTg13c/edit

[2016-10-12 20:33] porta-antiporta opened #22 "Publish our ideal test cases and hypotheses into the repo's wiki"
1. a good test case involves data that is some level of burden to replicate
2. a good test case involves data that is directly used in some determination that an agency makes (edited)
3. a good test case involves something that users view as a single task
4. a good test case _probably_ doesn't involve law enforcement data, because a lot of the Privacy Act exceptions and Exemptions are in that area

[2016-10-12 20:37] porta-antiporta commented on #14
David Simeon, Yemi Oshinnaiye from USCIS would be good contacts so understand architecutre requirements (after login.gov ships)

[2016-10-13 18:55] #4 closed, assigned to fureigh

[2016-10-13 19:06] porta-antiporta commented on #7
Reached out to Omid from acqstack to have PO and deputy secretary (names redacted from GH comment) from HUD meet with us.  They have been the primary wranglers on the agency sharing that resulted in the CMA between HUD and FEMA.  Should know in a few days if we can schedule for our research.

Omid has a phone convo scheduled for Monday 10/24 to gauge his interest in participating; also looking to

[2016-10-13 20:22] kategarklavs commented on #18
An update: Yesterday, I did a small bit more research and then summarized my findings in this doc:

https://docs.google.com/document/d/1Og4rZOgn8-RteMEBOMn3CuL32VrFOkOQBL_JkynBN7s/edit#

During today's standup, will check in with the team to find out whether we'd like to add this doc to our wiki, or whether we'd rather just keep it in Drive.

[2016-10-13 21:49] kategarklavs commented on #18
OK! After opening this question in the channel, the team decided that we can keep the synthesis doc in drive and reference it in our wiki. My plan is to reference this doc in the hypotheses/ideal test cases doc @cydharrell and I are working on.

For now, going to close this issue, but I'm happy to reopen if folks would like me to conduct additional research.

[2016-10-13 21:49] #18 closed, assigned to kategarklavs

[2016-10-13 23:02] kategarklavs commented on #22
Status update: @cydharrell and I are currently working on this document:

https://docs.google.com/a/gsa.gov/document/d/1A2bNu1mZapGpHNOTboK_z3m3mGszmrdmjJ2UNXeweJ4/edit?usp=sharing

[2016-10-14 21:18] porta-antiporta commented on #7
Meeting with Joel Minton on Monday to talk login.gov and how they approached agencies.

[2016-10-17 16:42] #16 closed, assigned to fureigh

[2016-10-18 18:42] kategarklavs commented on #22
Update: Just replied to some comments on this document (and am awaiting responses). My goal is to have the document in its final form, edited, and published today — tomorrow might be more realistic, though. Will post more updates as I have them!

[2016-10-18 22:59] kategarklavs commented on #22
OK — just published this document to the wiki and shared it in our channel. As we refine our hypotheses, we can update the page.

Going to close this issue for now, but please feel free to re-open if you feel we should revisit it.

[2016-10-18 22:59] #22 closed, assigned to cydharrell, kategarklavs

[2016-10-18 23:40] kategarklavs commented on #19
Starting to research different organizations' privacy notices + best practices; once I start writing sample notices, I'll post a link to the doc here.

[2016-10-19 14:32] porta-antiporta commented on #10
for viz, here's the current draft #infrstructure issue tracking L-ATO for our alpha: https://github.com/18F/Infrastructure/issues/704

[2016-10-20 15:14] porta-antiporta opened #25 "Create about.yml and update readme per ATO checklist."
As part of the ATO checklist, our repo should include certain artifacts describing the scope of our project.

Doing the following:
- [ ] add about.yml file
- [x] update readme with description of the project

[2016-10-21 16:05] porta-antiporta commented on #7
moving to this doc https://docs.google.com/document/d/1JpV6-tOug-jsEbn7FaiMSXhszmLFtoMU12QzbgygQXA/edit

[2016-10-21 16:12] fureigh opened #26 "Scaffold out a placeholder form"
**Why:**
- One way or another, it's likely that we'll present a form to users (for testing hypotheses and otherwise), so let's build something basic that can be modified as necessary.
- Might as well get started! :)

[2016-10-21 16:30] fureigh commented on #26
- [ ] USA.gov branding

[2016-10-24 13:53] porta-antiporta commented on #25
@kategarklavs finished the update to the readme file.

[2016-10-24 13:56] porta-antiporta commented on #14
@fureigh now that we have a tighter direction, any objections to closing this story and opening a new one(s)?

#26
#29

[2016-10-24 13:58] porta-antiporta opened #29 "Create first prototype based off FAFSA/IRS integration"
As part of #15 we will have our first design for our prototype.
Build out the form so we have our first implementation that can be tested.

[2016-10-24 14:02] porta-antiporta opened #30 "Set up monitoring for FFD prototypes"
As part of [L-ATO](https://github.com/18F/Infrastructure/issues/704), we need to set up the requisite monitoring for our application.

Other projects have used New Relic to monitor their assets and send an email when downtime is detected.
- [ ] Get signoff from @NoahKunin and @jacobian that the level of monitoring is sufficient.

[2016-10-24 14:07] porta-antiporta opened #31 "Create System Security Plan"
As part of L-ATO need to create a system [security plan](https://pages.18f.gov/before-you-ship/ato/ssp/#template).
- [ ] System Diagram
- [ ] SSP Template

[2016-10-24 15:20] porta-antiporta opened #32 "Recruit users for testing"
- [ ] Micropurchase
- [ ] Ethn.io?

[2016-10-24 15:21] porta-antiporta opened #33 "Deploy app-in-progress to cloud.gov"
- [ ] Finalize URL
- [ ] Deployment scripts or documentation
- [ ] Enables ATO activities
  - [ ] Monitoring
  - [ ] Dynamic scanning

[2016-10-24 15:25] fureigh commented on #14
@porta-antiporta No objections... I'll make new tickets to account for convos still to happen with @jacobian, etc.

[2016-10-24 15:26] #14 closed, assigned to donjo, fureigh

[2016-10-24 15:49] fureigh opened #34 "[task] Set up continuous integration"
I usually use TravisCI — @donjo, good with you or would you prefer something else?

[2016-10-24 15:52] fureigh opened #35 "Distill design questions/decisions to be made for initial prototype"
Connecting the dots between hypotheses and the different options that came up in our sketching session. Identify how to test each part.

[2016-10-24 18:28] kategarklavs commented on #25
@porta-antiporta Howdy! I've never created an about.yml file before, but am happy to pair with someone on it (or proofread the completed file, if someone else would rather write it) — which approach would make the most sense?

[2016-10-24 18:35] porta-antiporta commented on #25
@kategarklavs happy to pair with you on it!  the template about.yml file is here:
https://github.com/18F/about_yml/blob/master/.about.yml  i haven't yet created it in our repo.

[2016-10-24 18:37] kategarklavs commented on #25
@porta-antiporta Sounds good! I'll take a look at the template now :)

[2016-10-24 18:52] fureigh commented on #26
We have no need for the data itself at this time, correct? Assuming that's the case, I'll plan to disable the Submit button for now (at least) to prevent the system from storing any PII.

[2016-10-24 19:54] fureigh opened #37 "[task] Set up general testing framework"
Working on this alongside #26.

[2016-10-24 20:38] donjo commented on #34
That's good for me. It's also probably the only one I have experience with.

[2016-10-24 21:08] kategarklavs opened #39 "Create content testing script/questions"
Our prototype usability tests should include tests that assess the effectiveness of the written content. I'll work with @cydharrell and @donjo to incorporate content-specific questions into our test scripts.

To-dos:
- [x] Draft questions
- [ ] Get feedback from team
- [ ] Incorporate into script

(And modify said questions, as needed)

[2016-10-24 21:14] kategarklavs opened #40 "Internal newsletter blurb(s)"
As we reach project milestones, we should communicate these to the larger 18F team, helping folks stay up-to-date on our progress.

To-dos:
- [ ] Draft blurb(s) for the internal newsletter
- [ ] Share with team so folks can offer feedback
- [ ] Send to Andre for publication
- [ ] Repeat, as necessary

This relates to Epic #12

[2016-10-24 21:35] kategarklavs opened #41 "Blog post"
In addition to internal comms efforts (blurbs in the 18F internal newsletter, project-work updates at all hands, etc.), we should also consider external comms efforts.

Once we've completed our work (or near the end of the project), we can publish a blog post summarizing our work and highlighting major lessons learned. Exact topics TBD, as we're still working.

To-dos:
- [ ] Create issue in blog-d

[2016-10-25 15:39] donjo opened #42 "Prototype an outline of the FAFSA site that will contain form content"
Things to include in the base design:
- Placeholder navigation (not to be used by the user but to make it feel like a real site)
- Heading/subheading appropriate for the first page of the form

[2016-10-25 15:40] donjo opened #43 "Re-create one page worth of form content inside the prototype site"
The final form design may include a few different pages of content, separated by types of information being collected. However, we just need a few form fields here so we have a point of reference for discussions and engineering work.

[2016-10-25 16:17] fureigh commented on #42
What's the distinction between this and #26/#29?

[2016-10-25 16:23] fureigh commented on #43
For #26/#29 I started working off of the [fields @kategarklavs listed from the FAFSA](https://docs.google.com/document/d/1d1LQ9_D-ATbkDGnCcmUS1cOkrjVypsl53fiBt5wwnok/edit)... which fields do you have in mind?

[2016-10-25 16:50] donjo commented on #43
I was going to use the same fields. It sounds like this issue is redundant with what was described in the issues you linked.

[2016-10-25 16:50] #43 closed, assigned to nobody

[2016-10-25 16:52] donjo commented on #42
There isn't any. I was translating issues I had written down on paper and didn't notice #29 was added yesterday morning. Closing this one out too.

[2016-10-25 16:52] #42 closed, assigned to nobody

[2016-10-25 17:09] fureigh commented on #43
No problem! Just trying to make sure we're on the same page/issue.

[2016-10-25 18:00] kategarklavs commented on #19
A quick update: I touched base with @donjo yesterday, and he should have prototype designs soon, at which point I'll begin adding copy (including privacy notices).

[2016-10-25 18:01] kategarklavs commented on #12
I've added a few related issues & will keep adding issues (and linking to this one) as new comms opportunities present themselves.

[2016-10-25 18:08] fureigh commented on #29
@porta-antiporta This appears to be a duplicate of #26 that adds a definition of done ("can be tested"). If that's accurate, mind if I close this one? I can go either way on it but I've already attached commits to the other one.

[2016-10-25 18:18] kategarklavs commented on #26
@fureigh Whenever you're ready for content, lmk!

[2016-10-25 19:00] donjo commented on #34
That's good for me. It's also probably the only one I have experience with.

On Mon, Oct 24, 2016 at 10:49 AM, Fureigh notifications@github.com wrote:

##

John Donmoyer
18F – User Experience Designer
312-869-0339

[2016-10-25 19:00] fureigh commented on #26
@kategarklavs Ready!

[2016-10-25 19:19] porta-antiporta commented on #29
@fureigh sure thing.

[2016-10-25 19:19] #29 closed, assigned to nobody

[2016-10-25 19:19] porta-antiporta commented on #29
duplicate of #26

[2016-10-25 19:42] kategarklavs commented on #26
@fureigh Excellent! Can you share a link to said form? (It's entirely likely that I've overlooked a link :/ )

[2016-10-26 15:32] porta-antiporta commented on #32
Discussed with @donjo and Liz various approaches to recruit users.
We will pursue a p-card purchase.
- [ ] Generate list of vendors
- [ ] Create profile of desired users
- [ ] Get approval from PO for purchase
- [ ] Get quote from vendors
- [ ] Select vendor
- [ ] Submit C2 request with NTE invoice amount
- [ ] Schedule date and travel (target before Thanksgiving)

@porta-antiporta to document for

[2016-10-26 15:37] porta-antiporta opened #45 "As a measured sharer/open sharer, I want to see opportunities to allow information about me to be shared while applying for a benefit/service so that I can reduce my burden in applying."
Implementation/Design considerations:
- How prominent should these opportunities be? (front and center, mandatory, on a sidebar, etc)
- When should these opportunities be presented
  - Are they more amenable to sharing if presented early in the process or as they fill out the form?

[2016-10-26 15:38] porta-antiporta commented on #20
Closing as we took a different approach (user stories phrased in terms of value)

[2016-10-26 15:38] #21 closed, assigned to nobody

[2016-10-26 15:38] porta-antiporta commented on #21
unneeded

[2016-10-26 15:41] porta-antiporta commented on #11
Closing this epic as we will achieve the infrastructure as we build out the epics describing the value to the users.

[2016-10-26 15:41] #11 closed, assigned to nobody

[2016-10-26 19:19] fureigh commented on #10
Confirming: we should be good to go with a pre-authorization, as we'll:
1. Design the system in such a way that it doesn't store any PII (for this prototype, at least),
2. Deploy to cloud.gov, and
3. Set up HTTP Basic Authentication.

[2016-10-26 20:11] fureigh commented on #26
@kategarklavs WIP in https://github.com/18F/ffd-info-exchange/pull/46! Aiming to deploy to cloud.gov tomorrow, adding more fields first.

[2016-10-26 20:18] kategarklavs commented on #26
@fureigh Excellent! Should I keep editing in the Drive Doc, or elsewhere? (I've been making tiny tiny changes to some of the form language, but can definitely hold off if editing in the Drive Doc will cause unnecessary work)

[2016-10-26 22:43] fureigh opened #47 "[task] Integrate tests into Travis"
**User story:**
As a developer, I want to be confident that the tests I've written are run as part of continuous integration.

**Technical notes:**
- [ ] Add lines to run our unit and functional tests. (Refer to the README for specifics.)
- [ ] Make the necessary changes to environment configuration.
- [ ] Tinker with Firefox/Marionette and Selenium 3 if necessary.

This is a follow-up ticket to #

[2016-10-26 22:43] fureigh commented on #34
@donjo Thanks for setting this up! I've made a follow-up ticket for integrating running the functional and unit tests (#47) and am closing this one.

[2016-10-26 22:43] #34 closed, assigned to donjo

[2016-10-26 23:07] #37 closed, assigned to fureigh

[2016-10-26 23:08] fureigh commented on #26
@kategarklavs Drive's good for now, thanks! I'll refactor this soon in such a way that you'll be able to make copy changes in the code without having to mess with migrations.

[2016-10-26 23:31] kategarklavs commented on #26
@fureigh That sounds excellent! (And if I have any process questions, I'll ping you right away.)

[2016-10-26 23:41] fureigh commented on #26
@kategarklavs Pending review in https://github.com/18F/ffd-info-exchange/pull/48. Once that's in, we can :pear: on it if useful. Adding more fields in the meantime...

[2016-10-27 16:59] #25 closed, assigned to kategarklavs, porta-antiporta

[2016-10-27 18:40] fureigh commented on #33
Let's start with `ffd-info-exchange-fafsa` — it's clunkily long, but self-documenting.

[2016-10-27 22:08] kategarklavs commented on #39
Here's the document in which I outline different (possible) content testing methods:

https://docs.google.com/document/d/10niKUvtPGAGcciMAaB3DsIUrfm2yxNC3m-TySV3Hw1A/edit#

Just pinged the team for feedback. As soon as I hear back from folks, I'll update the document and then close this issue.

[2016-10-27 22:47] kategarklavs commented on #19
Ack! I thought I'd shared this link on GH, but it turns out I'd only shared it with individual ppl on the team :/

In any event, here's the doc with observations/thoughts on privacy notices:

https://docs.google.com/document/d/16R0VMGOs_dI2jt4giaj_fCNrtKEvM47XgpD5QTVIpL8/edit

[2016-10-27 23:51] kategarklavs commented on #19
Today, started drafting some page-specific help text and privacy notices for our prototype. **Note**: this is by no means complete! But I wanted to share what I'd done so far:

https://docs.google.com/document/d/1abLfJxXFIqDAfw9a8Y6B7b7mQvCYzgRFY7SM1GnmFpk/edit#

[2016-10-28 16:59] fureigh opened #53 "[task] Integrate pa11y"
**User story:**
As a developer, I want integrated accessibility feedback throughout the development process so that I can feel confident that the product we're developing is accessible.

**Technical notes:**
- See https://github.com/18F/development-guide/tree/master/accessibility_scanning.
- Travis instructions not yet written. Consider the command line approach for now.

**Other notes:**
- As we'

[2016-11-01 16:55] fureigh opened #55 "USWDS and flag icon assets not loading"
**Desired behavior:**
All images and assets load.

**Actual behavior:**
[code]

<img width="1267" alt="screen shot 2016-11-01 at 11 45 48 am" src="https://cloud.githubusercontent.com/assets/1244599/19898438/570cc6e8-a032-11e6-9064-f3dfe8994ed5.png">

[2016-11-01 16:56] fureigh commented on #55
As discussed earlier. Thanks for looking into this, @donjo!

[2016-11-01 17:14] fureigh commented on #55
At 51d5b42f716ff9e4f95ecb47432972c722b1202e, the flag icon loads but the USWDS assets don't.

[2016-11-01 18:10] fureigh opened #58 "Set up auth mechanism"
**User story:**
As a developer, I want to have to log in before accessing the site-in-progress so I can be confident that access to the system is limited to authorized persons.

**Technical notes:**
* Set up either cloud.gov SSO or HTTP Basic Authentication, whichever's a lighter lift.
* This is required for compliance with our [pre-authorization](https://pages.18f.gov/before-you-ship/ato/types/#d

[2016-11-03 20:27] fureigh commented on #33
@porta-antiporta I'd been assuming this issue was for deploying the app-in-progress to cloud.gov. Is that accurate or is it truly meant to be a dummy app?

[2016-11-03 20:30] porta-antiporta commented on #33
@fureigh app-in-progress is a-OK (better than a dummy app).  When i wrote the story originally, was unsure what app development would have already taken place.  The main goal was that we have deployment kinks worked out.

[2016-11-03 20:36] fureigh commented on #33
(Thanks @donjo!)

[2016-11-03 20:37] fureigh commented on #33
#51 is a start.

[2016-11-04 05:25] fureigh opened #60 "Troubleshoot radio button rendering"
Part of #26.

[2016-11-04 05:44] fureigh opened #61 "Incorporate remaining USWDS classes into form wizard template(s)"
In particular:
* `usa-input-error`
* `usa-input-error-label`
* `help-text usa-form-hint`
* `usa-input-error-message` (and `role="alert"`)

Previously, this was handled this way:
[code]

`fafsa_form.html` is currently the relevant file.

[2016-11-04 05:47] fureigh opened #62 "Add remaining fields"
Add fields from the remaining sections ("Student tax information" and "Student financial information, continued").

Follow-on to #54.

[2016-11-04 05:48] fureigh opened #63 "Troubleshoot the USStateSelect fields' labels"
**Technical notes:**
See the [localflavor documentation](https://django-localflavor.readthedocs.io/en/latest/localflavor/us/).

Follow-on to #54.

[2016-11-04 05:51] fureigh opened #64 "Refactor to allow different steps to use different templates"
This will enable us to have more control over field groupings, intro text, and the display of individual fields.

**Technical notes:**
* Most of this change will take place in `views.py`.
* The template file currently in use is `ffd_info_exchange/fafsa/templates/fafsa_form.html`.

Follow-on to #54.

[2016-11-04 16:11] kategarklavs commented on #19
As we discussed in our demo/retro meeting of 11/4/16, we're going to create a separate issue for integrating the privacy notices into the prototype — closing this issue!

[2016-11-04 16:11] #19 closed, assigned to kategarklavs

[2016-11-04 19:12] kategarklavs opened #65 "Incorporate privacy notices into prototype"
This is a continuation of the now-closed #19.

As appropriate, we'll add privacy notices to our FAFSA prototype. (And if we determine that the privacy notices don't quite mesh with the prototype or aren't necessary, we can close this issue.)

- [x] Draft copy available in the prototype
- [x] Finalized copy for the user testing
- [x] Folks leading the user research have the appropriate copy needed

[2016-11-04 22:03] fureigh opened #66 "Mark fields 'not required' for purposes of user testing"
**Immediate user story:**
* As a team member doing usability testing, I want to be able to skip screens without the applicant having to stop to fill in example information.

**Likely user story:**
* As an applicant, I want to be able to move on to answering other questions in the form even if I don't have the information for all of the current questions so that I can continue to make progress in t

[2016-11-04 23:01] kategarklavs opened #67 "Finalize test scripts for round 1 of testing"
We currently have a generic prototype test script prepared; as our first prototype evolves, we'll need to add to the script to reference specific elements of the prototype. I'll work with @donjo and @fureigh to add questions to the script.

Include test scripts for:
- [x] Cloze testing
- [x] Prototype testing

[2016-11-04 23:02] kategarklavs commented on #66
@fureigh I'm happy to work on this next week, if a content perspective is needed 🎉

[2016-11-07 15:34] porta-antiporta opened #68 "As a measured sharer, I want to know when, how and why information about me will be shared so that I can make informed decisions about what to allow."
This will involve heavy content testing:
- Placement
- Flow
- Brevity

[2016-11-07 15:34] porta-antiporta commented on #39
Closing. We will finalize as part of #67

[2016-11-07 15:55] porta-antiporta opened #69 "Implement backup plans for user testing"
As we are conducting in-home user testing, there is a chance we are unable to access the alpha prototype/Cloze testing scripts.

To prepare for that eventuality we need to:

- Ensure someone from each group can run the prototype locally
- Have paper printouts of the Cloze tests.

[2016-11-07 15:56] #20 closed, assigned to nobody

[2016-11-07 16:45] fureigh commented on #69
@porta Do we need to have paper printouts or would PDFs (or screenshots or another on-screen approach) suffice?

Prototype running instructions are in the README. Best to allow some time for installing any dependencies that might come up.

[2016-11-07 16:46] fureigh commented on #69
(^ @porta-antiporta, that is. Apologies to @porta.)

[2016-11-07 17:38] porta-antiporta commented on #15
Close in favor of a new story to call out remaining work for the prototype.

[2016-11-07 17:38] #15 closed, assigned to donjo

[2016-11-07 17:42] #39 closed, assigned to kategarklavs

[2016-11-07 17:50] porta-antiporta commented on #55
Fixed by PR (@porta-antiporta to chase down).

[2016-11-07 17:52] porta-antiporta opened #70 "Placeholder - Identify remaining work for prototype from initial PR"

[2016-11-07 17:55] #55 closed, assigned to donjo

[2016-11-07 17:56] fureigh opened #71 "Add a screen that simulates autopopulation of IRS data"
More details TK.

[2016-11-07 18:59] kategarklavs commented on #69
@fureigh Printouts for the highlighter test copy/cloze test copy would be best! (In fact, the highlighter test might work better with printouts than it would onscreen.)

[2016-11-08 01:34] fureigh commented on #62
Hit a snag pushing code, but I have this drafted locally.

[2016-11-08 01:39] fureigh opened #72 "Troubleshoot discrepancies in validation text rendering"
https://github.com/18F/ffd-info-exchange/pull/54#issuecomment-258942264

[2016-11-08 01:55] fureigh commented on #58
@donjo @porta-antiporta Note that if the first round of testing happens on cloud.gov (rather than locally), this should be set up first.

[2016-11-08 01:57] fureigh commented on #62
Ready for review in #73.

[2016-11-08 02:09] fureigh commented on #65
:tada:

One implementation note: #64 is a precursor to at least some of this ("draft copy available in the prototype").

[2016-11-08 03:38] fureigh commented on #66
@kategarklavs I think at the moment it's just a matter of unblocking the user. If you feel otherwise, though, feel free to propose changes to PR #74 (or file a new one)!

[2016-11-08 03:38] fureigh commented on #66
(Ready for review in #74.)

[2016-11-08 18:22] kategarklavs commented on #66
Sounds good!

[2016-11-08 21:08] #62 closed, assigned to fureigh

[2016-11-08 21:27] #66 closed, assigned to nobody

[2016-11-22 21:49] porta-antiporta opened #91 "create hypotheses to be validated for prototype 2"
Based off our approach for our second prototype [here](https://gsa-tts.slack.com/archives/ffd-info-exchange/p1479850397002987).

Let's create our hypotheses for this second prototype.

Note: we need not define _how_ those hypotheses will be tested as part of this story, unless we feel we need to at this point.

Update the wiki to call out this information.

[2016-11-22 21:50] porta-antiporta opened #92 "summarize sprint 3"
Let's summarize our sprint 3 and update the wiki.

[2016-11-22 22:25] kategarklavs commented on #92
This is in progress! I'll have a draft to share w/the team shortly, and I'll be able to publish the final summary either EOD today or early tomorrow, depending on how quickly folks offer feedback.

[2016-11-22 22:41] kategarklavs commented on #92
Shared draft document w/the team. I'll incorporate their feedback and will plan to publish the summary no later than EOD tomorrow.

[2016-11-25 22:57] #69 closed, assigned to nobody

[2016-11-25 23:31] fureigh opened #93 "Scaffold out mockup of USCIS workflow"
The intent is to have a USCIS-consistent foundation to use as a starting point for recommending other possible services.

We have PDFs of six steps, some of which include up to a dozen possible options. I'll start somewhere and we can iterate from there.

[2016-11-25 23:38] fureigh commented on #91
I believe @kategarklavs added these to https://github.com/18F/ffd-info-exchange/wiki/Test-cases-and-hypotheses. Notes on which hypotheses we're testing in the next few weeks are [here](https://docs.google.com/document/d/11VvgpgJofKa_wHda1M5nKxV7i3yTNCgKtAsJNjPtxnw/edit).

[2016-11-28 17:45] kategarklavs commented on #91
@porta-antiporta On Wednesday (after our meeting), I updated a few of our hypotheses in the original hypotheses/test cases doc in the wiki — would you like me to make a separate document highlighting only our second batch of hypotheses? (Happy to do so: just want to make sure I'm on the same page as everyone else.)

[2016-11-28 17:53] porta-antiporta commented on #91
@kategarklavs could we call out in which we tested in round 1 and which in round 2?  (whether on the same wiki or separate i'm shruggie)

[2016-11-28 17:55] kategarklavs commented on #91
@porta-antiporta Yep — I was planning to publish our Round 1 research results (informal doc) today, so I can add a bit about the specific hypotheses we tested!

[2016-11-28 18:06] kategarklavs commented on #93
@fureigh Howdy! Is this foundation based on myUSCIS or a specific form offered by USCIS? Also, is now a good time to address content, or would it make more sense to hold off for a bit? (Happy to hop on a call today if you like — just let me know.)

[2016-11-28 18:26] kategarklavs commented on #92
Forgot to close out this issue last week — I added the sprint 3 summary to our wiki before leaving last Wednesday!

[2016-11-28 18:26] #92 closed, assigned to kategarklavs

[2016-11-28 18:36] fureigh commented on #93
@kategarklavs It's currently based on the `PDFs for PRA Sept 30` mockups @donjo shared last week, which are for the N-400 (Application for Naturalization). Do you have thoughts on which ones to use or whether to follow a different direction?

[2016-11-28 18:48] kategarklavs commented on #93
@fureigh N-400 works for me! (If I remember correctly, that's the most commonly used application track.) I'll check out the PDFs shortly 👍

[2016-11-28 19:34] kategarklavs commented on #91
@porta-antiporta Round 1 research summary is up on the wiki! (And I added to the doc a list of hypotheses we tested in round 1.)

[2016-11-28 19:38] kategarklavs commented on #67
Being that round 1 of testing is over, I think I can safely close this issue ;)

[2016-11-28 19:38] #67 closed, assigned to kategarklavs

[2016-11-28 19:39] kategarklavs commented on #65
This is also done — closing now.

[2016-11-28 19:39] #65 closed, assigned to nobody

[2016-11-28 19:51] donjo commented on #60
I believe we ultimately changed this one to a different type of select (or it was part of the questions we removed)

[2016-11-28 19:54] donjo commented on #72
Just FYI this is still a thing but I investigated further and at least know the issue. There is a mix of HTML form validation going on (which actually has pretty nice looking base styles) and django validation. It's the django validation pieces that currently get printed out as a bullet point below the form field name. Currently we have all these turned off but if we were to turn them on again the

[2016-11-28 19:55] donjo commented on #71
This was implemented in a way where the user will select whether or not they want to import data from the IRS. If they select "yes" the next two screens are filled out with fake data defined in a dict.

[2016-11-28 19:55] #71 closed, assigned to nobody

[2016-11-28 19:56] #70 closed, assigned to donjo

[2016-11-28 20:00] donjo commented on #63
this section of the form was ultimately removed from the prototype

[2016-11-28 20:00] #63 closed, assigned to nobody

[2016-11-28 20:03] donjo commented on #64
This was implemented and then eventually scrapped. We decided that we didn't need more control over the field groupings at this time and the intro text was handled in a way where `fafsa_form.html` will display intro/header/subhead text if it exists for a page and display nothing if it doesnt.

[2016-11-28 23:39] kategarklavs opened #96 "Content inventory of form fields (for prototype)"
Per this afternoon's meeting with @donjo and @fureigh, I'll start inventorying the information collected by various services we'd like to offer as "add-ons" in our next prototype. (So far, these services include name change, applying for a passport, TSA PreCheck, and possibly registering to vote, though this last one might be tricky as folks have to register through state sites.)

Here are the mor

[2016-11-29 00:02] kategarklavs commented on #96
And, for reference, here's the inventory sheet: https://docs.google.com/spreadsheets/d/1mPj5gZ0Th27RgYwYjpWgJa68QGsQYg82knzLcYDBqJs/edit#gid=0

[2016-11-29 01:35] fureigh opened #97 "Fix template loading"
Following up on #93.

**Current behavior:**
FAFSA-specific language appears in the prototype despite different language having been specified in the USCIS app's templates.

**Desired behavior:**
USCIS-relevant language appears instead.

Examples:
* The header should say "An official website of the Department of Homeland Security"
* The confirmation page should say "Thank you for submitting your Ap

[2016-11-29 01:51] fureigh commented on #60
Confirming, I changed 'em to selects in https://github.com/18F/ffd-info-exchange/commit/6f32f75b74d6801425c006267721d59c09d99e1c as a temporary measure.

[2016-11-29 16:08] donjo commented on #26
I suppose this one is done now since it was prototype 1 related.

[2016-11-29 16:08] #26 closed, assigned to fureigh

[2016-11-29 16:11] donjo commented on #35
Done. Also, here is a link to the answers we were seeking and what we found during that first stage of research: https://github.com/18F/ffd-info-exchange/wiki/Round-1-research-summary

[2016-11-29 16:11] #35 closed, assigned to nobody

[2016-11-29 19:44] fureigh commented on #93
Closed in #95. Further development will take place in new issues.

[2016-11-29 19:44] #93 closed, assigned to fureigh

[2016-11-29 19:48] fureigh commented on #32
@porta-antiporta This can be closed, yes?

[2016-11-29 19:49] fureigh commented on #10
Closing this ticket, as the decision is complete and the resulting actions have their own tickets.

[2016-11-29 19:49] #10 closed, assigned to porta-antiporta

[2016-11-29 19:50] fureigh commented on #97
@donjo, pinging you in case this piques your interest.

[2016-11-29 19:51] donjo commented on #32
For history's sake: Ultimately we chose the route of getting quotes from a handful of vendors and selected one to recruit our participants and schedule a week of testing in the SF Bay Area.

[2016-11-29 19:51] #32 closed, assigned to porta-antiporta

[2016-11-29 19:52] fureigh opened #98 "Add initial fields for N-400"
...prioritizing fields identified in #96.

[2016-11-29 19:54] fureigh opened #99 "Cleanup: refactor urls.py"
It'd be better for these to be app-specific.

[2016-11-29 23:05] fureigh commented on #64
Thanks for the context!

[2016-11-29 23:06] kategarklavs commented on #96
Update: I identified all the fields for the TSA PreCheck + passport applications (the name-change process is part of the larger N-400 process and doesn't have a dedicated form). Following that, I marked in the spreadsheet the fields that also appear on the N-400. We'll use these overlapping fields as the basis for our initial N-400.

[2016-11-29 23:06] #96 closed, assigned to kategarklavs

[2016-11-29 23:07] kategarklavs opened #100 "Write form-field copy for N-400 prototype"
Based on the inventory of form fields on the N-400/PreCheck app/passport app, I'll write form fields for our N-400 prototype.

Specific steps:

- [x] Write initial draft
- [x] Discuss with @donjo @fureigh & team to identify areas that require more attention
- [x] Publish!

[2016-11-30 21:55] kategarklavs commented on #100
Initial draft done and shared with the team 🎉

[2016-12-01 01:28] fureigh opened #102 "Troubleshoot checkbox rendering"

[2016-12-01 17:52] kategarklavs commented on #100
Update: @fureigh made comments/suggestions to the first draft yesterday (and many thanks!), and I'll reach out to @donjo to see if he has specific recommended changes.

[2016-12-02 00:41] kategarklavs commented on #100
Copy is being added to the prototype as we speak 🎉 I'll revise/reconfigure the copy once it's in the prototype — closing this issue for now.

[2016-12-02 00:41] #100 closed, assigned to kategarklavs

[2016-12-02 17:53] fureigh opened #103 "Implement progress tracker"
**Technical notes:**
'Pizza tracker,' based on USCIS mockups.

[2016-12-02 17:54] fureigh opened #104 "Implement passport flow"
...using content from #100.

[2016-12-02 17:54] fureigh opened #105 "Implement TSA PreCheck flow"
...using content from #100.

[2016-12-02 20:20] #98 closed, assigned to fureigh

[2016-12-02 20:37] fureigh opened #106 "Refine prototype #2"
Already accounted for and complete:
* #93
* #96
* #98
* #100

[2016-12-02 20:40] fureigh commented on #7
@porta-antiporta Safe to close this?

[2016-12-02 20:42] fureigh opened #107 "Add confirmation text and screen for name change application"
...using content from #100.

[2016-12-02 20:49] fureigh commented on #100
Here's the [living draft](https://docs.google.com/document/d/1o0n3NOG0uLzQtnCiUwqG5lhWWn4JoYgYruFOPzzXCvk/edit#). Thanks, @kategarklavs!

[2016-12-02 20:50] kategarklavs commented on #100
@fureigh Thanks for adding the link!

[2016-12-02 21:14] fureigh opened #108 "Implement conditional fields"
**Technical notes:**
See http://django-formtools.readthedocs.io/en/latest/wizard.html.

[2016-12-03 00:25] #105 closed, assigned to nobody

[2016-12-03 00:26] fureigh opened #110 "Add TSA application confirmation screen"

[2016-12-03 00:33] fureigh commented on #64
Reopening for use in prototype 2.

[2016-12-05 15:25] #45 closed, assigned to nobody

[2016-12-05 15:25] #68 closed, assigned to nobody

[2016-12-05 15:27] porta-antiporta commented on #31
Closing.  We will use pre-auth for this phase.

[2016-12-05 15:27] #31 closed, assigned to nobody

[2016-12-05 15:27] porta-antiporta commented on #30
Closing.   We will use pre-auth for this phase.

[2016-12-05 15:27] #30 closed, assigned to nobody

[2016-12-05 15:30] porta-antiporta opened #111 "Write up findings from this phase"
To aid our partners in contacting agencies in the next quarter we shall write up the findings from this phase into a document that can be given to a potential partner agency.

[2016-12-05 15:31] porta-antiporta opened #112 "Handoff to OPP Team"
* Write up of findings
* Recommendations on agency research

[2016-12-05 15:36] porta-antiporta opened #113 "Write up of Sprint 4 work"
Update wiki to include our work for Sprint 4.

Some subtasks:

- [x] Create initial draft
- [x] Share w/team to make sure the account is complete
- [x] Publish!

[2016-12-05 15:38] porta-antiporta opened #114 "Agency research: Forest Service and BLM"
We were introduced by Colin to the Forest Service and BLM.
Contact them to:
* Provide overview of our project
* Understand what their desires/needs are around info sharing
* Establish whether there is work that could be targeted for a prototype specific to their needs.

[2016-12-05 15:42] porta-antiporta opened #115 "Create script for prototype 2 testing"
We will be testing prototype 2 with users Dec 19-21.
Create the script that will be used during that testing.

Testing will be:
* Remote (participant in Chicago office, but facilitators potentially remote)
* 1 hour long

Hypotheses we wanted tested were:
@donjo @kategarklavs @fureigh could one of you link the hypotheses doc to this story please?

To-dos:

- [x] Create complete first draft of scrip

[2016-12-05 15:44] porta-antiporta opened #116 "Update research plan to hand off to our OPP partners"
When OPP picks up the effort in Q2, we should enable our partners to conduct research with agencies that could become potential partners.

Update the research [plan](https://docs.google.com/document/d/1ezmHhv55NOWU1g3obBq4-zOmwZK4ZIUbEkpShe8F5UU/edit) (or create a new one) for Q2.

[2016-12-05 15:45] porta-antiporta commented on #6
This is done.

[2016-12-05 15:45] #6 closed, assigned to cydharrell

[2016-12-05 15:55] porta-antiporta opened #117 "Create document describing participant recruitment process"

[2016-12-05 17:36] kategarklavs commented on #115
This issue is in progress (script is currently about half done).

And here's the hypotheses doc:

https://docs.google.com/a/gsa.gov/document/d/11VvgpgJofKa_wHda1M5nKxV7i3yTNCgKtAsJNjPtxnw/edit?usp=sharing

[2016-12-05 18:00] porta-antiporta commented on #8
Talk with @jpyuda and Laura as to best format that would help the USA.gov team

[2016-12-05 18:06] porta-antiporta commented on #115
Target a test run during this sprint.

[2016-12-05 18:11] fureigh commented on #61
@micahsaul @donjo (How) was this resolved in the last round? I don't see evidence of the USWDS classes in the codebase, but please point me to them if I'm missing something.

[2016-12-05 18:13] fureigh commented on #61
Either way, considering that our focus isn't testing the overall form UX, I'm inclined to deprioritize this.

[2016-12-05 18:25] donjo commented on #61
For the help text I ended up using the tooltip and tooltip text pattern that the USWDS documentation site uses (not a part of the USWDS package, I just used that CSS) to create the '?' that you can hover over for more information. Is there an example on the standards site of what the `help-text usa-form-hint` looks like? I was looking for that and only chose this alternate solution because I could

[2016-12-05 18:49] fureigh commented on #61
Thanks for the info, @donjo! I've been leaving most validation out so that people can skip questions and page through during the testing sessions. Assuming that still meets our needs, I don't think we need to make fields required, etc.

Here's what I see in `uswds.css` for `usa-form-hint`:

  color: #757575;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-s

[2016-12-05 18:50] fureigh commented on #61
(For further context on intentionally leaving out most validation, see #66.)

[2016-12-05 19:58] fureigh commented on #64
Working on this now.

[2016-12-05 20:01] kategarklavs commented on #113
Steps one and two are done — just waiting for team feedback now.

[2016-12-05 21:59] kategarklavs commented on #113
Thanks to all the folks who left feedback! This summary is now up on the wiki. 🎉

[2016-12-05 21:59] #113 closed, assigned to kategarklavs

[2016-12-06 01:39] fureigh opened #118 "Create screencap video demo"
...to support conversations with potential agencies, framing relevant parts of the prototype.

[2016-12-06 18:28] kategarklavs commented on #117
@porta-antiporta Howdy! If you'd like any help with this, let me know -- happy to lend a hand.

[2016-12-06 18:30] kategarklavs commented on #115
Update: Script draft is about 2/3 complete (document is here: https://docs.google.com/a/gsa.gov/document/d/1nim5aGmDE4vwkgUIJK97PkHjZuvJJMe70M1nLFt0bMc/edit?usp=sharing).

Aiming to have the draft wrapped up & shared with the team by EOD. Script will necessarily change based on updates to the prototype, but this will be a good foundation.

[2016-12-06 18:56] kategarklavs commented on #115
Just finished draft 1 of the script and shared it with the team/asked for feedback.

[2016-12-06 22:50] fureigh commented on #97
This may overlap with #99.

[2016-12-07 00:15] fureigh commented on #64
Ready for review in #119.

[2016-12-07 17:49] kategarklavs commented on #115
Update: A number of people have shared feedback on the script (thank you!), and the script is in good shape. Still waiting for finalization of the prototype, after which I'll make another round of edits to the script.

[2016-12-07 18:13] #64 closed, assigned to fureigh

[2016-12-07 18:25] fureigh opened #121 "Troubleshoot access to ZenHub"
Persistent `Sign in to access ZenHub` link that never resolves.

[2016-12-07 18:26] fureigh commented on #121
Resolved. The solution, in case anyone else encounters this problem:

1. Go to the applications section of https://github.com/settings/applications
2. Revoke access for the ZenHub Extension
3. Remove the extension from your browser
4. Re-install the extension from zenhub.com
5. Reauthenticate

[2016-12-07 18:26] #121 closed, assigned to fureigh

[2016-12-07 18:34] fureigh opened #122 "Customize templates for the non-standard steps"
Now that #64 is complete, we have more control over the individual steps. Breaking them out and addressing them here.

* [x] Step 5
* [ ] ~Step 6~ (handle this when adding data review: #124)
* [x] Step 7 ("sign and pay")
* [x] Additional services (#130 has the remainder)
* [x] Name change application
* [x] Global Entry/TSA PreCheck application
* [ ] ~Passport application~ (not yet implemented, so

[2016-12-07 18:41] fureigh commented on #64
Fixed in #119.

[2016-12-07 19:45] porta-antiporta commented on #117
@kategarklavs a hand would be greatly appreciated!

here's what i have so far:  https://docs.google.com/document/d/1ta44zN4m-kFsfXBMyql017zmNUWmVHKmoUWvFP6LL_E/edit#

[2016-12-07 19:49] kategarklavs commented on #117
@porta-antiporta Excellent! I'll take a look at the current draft and then DM you so we can discuss the best approach 🎉

[2016-12-07 22:01] fureigh opened #124 "Add data review to 'Review your application'"
**User story:**
As a person filling out the N-400, I'd like to review my answers before I submit my application so that I can make corrections if necessary and feel reasonably confident about my application.

**Technical notes:**
* Simplest and quickest: use placeholder data. It may sufficiently enable conversation during testing, despite the risk that it'll be confusing.
* More time-consuming: us

[2016-12-08 00:09] kategarklavs commented on #117
@porta-antiporta Howdy! I made some edits/suggestions (and left some questions) in the document this afternoon. I'm happy to take another pass at it later on, as well: let me know if/when you'd like another set of eyes on it.

[2016-12-08 00:10] kategarklavs commented on #111
@porta-antiporta Is this separate from our final report? (My initial thought is that the document mentioned in this issue could be a one sheet, but I'm open to other options, too.)

[2016-12-08 15:19] porta-antiporta commented on #111
@kategarklavs This is the epic that captures all our efforts to write up (and therefor wrap up) our work for this engagement.  So it includes creation of the final report.  (Though noticed there's no story within this epic for writing up the final report so I'll create that and assign to you).

[2016-12-08 15:19] porta-antiporta opened #126 "Create final report on our findings"
Create a report that describes the project which includes:
* Methodology / Process
* Findings across agency and user research
* Recommendations for next steps

Format of this document can be a Google doc / slide.  Pure wiki may not be the best format if there is sensitive information.

[2016-12-08 17:34] kategarklavs commented on #111
@porta-antiporta Sounds good re: the report issue. Aside from the standard sprint summary in the wiki, are there other types of writing you're thinking of? (I can then go ahead and open issues for those deliverables, as well.)

[2016-12-08 17:35] kategarklavs opened #127 "Blog post"
If time allows, let's write a blog post detailing our more surprising findings + their implications for future infosharing research.

- [x] Create issue in blog-drafts repo
- [ ] First draft
- [ ] Share draft with team for feedback
- [ ] Revise, as necessary
- [ ] Submit to blog team for review/approval process

[2016-12-08 17:37] fureigh commented on #97
Now loading USCIS templates instead of FAFSA ones, satisfying the requirement for user testing.

This is still a piece of technical debt, though. If the prototypes are meant to have a life after this discovery engagement, let's square away that discrepancy before the end of the engagement. If not, this can be disregarded, as we've learned all we'd planned to from the FAFSA app already.

[2016-12-08 17:47] porta-antiporta commented on #111
@kategarklavs I was looking to have a single report that covers all our sprints in a single report (format is up to us).  I opened #126 to capture that request.

[2016-12-08 17:48] kategarklavs commented on #111
Sounds good! I'll create an issue for our final wiki sprint summary, and we should be all set.

[2016-12-08 17:50] kategarklavs opened #128 "Final sprint summary (for the wiki)"
An issue to represent the final sprint summary to be added to the wiki by the end of the project.

To-dos:

- [ ] Write initial draft
- [ ] Share with the team to get their suggestions for additional items to be added
- [ ] Publish!

[2016-12-08 20:11] fureigh commented on #60
Reopening as this is still relevant for prototype 2. (It's true that we could make them all selects, but it'll be a less-than-ideal user experience.)

[2016-12-08 23:31] kategarklavs commented on #126
Outline lives here: https://docs.google.com/a/gsa.gov/document/d/1rKQViNUZhuHTnVsyZ93pY-mPvBcnByI89GpEYWiXE-s/edit?usp=sharing

(Note: None of the text in this document is anywhere close to finalized! In other words, this is the very beginning of a very rough draft 😎 Will let folks know when the text is ready for review/feedback.)

[2016-12-09 00:41] fureigh opened #130 "Implement flow for 'additional services' page"
Follow-on to #122. Connect buttons to the appropriate screens, etc.

[2016-12-09 01:40] fureigh opened #131 "Remove bonus services from the steps count"
**User story:**
As a person filling out some portion of this form/these forms, I want to clearly understand which screens are required for submitting the application for naturalization (N-400) and which are optional so that I can be sure whether or not I've completed my application.

**Technical notes:**
* Remove step numbers from non-N-400 screens
* Adjust the step count such that "Step X of Y" i

[2016-12-09 01:42] fureigh opened #132 "Add 'Cancel' button to bonus services pages"
**Technical note:**
They should all point back to the same page, the bonus services selection page.

[2016-12-09 02:10] fureigh commented on #103
We do already have 'Step X of Y', though. @donjo?

[2016-12-09 16:59] donjo commented on #103
I'm inclined to just stick with the Step X of Y type thing for now. I haven't quite figured out how to handle this in the bonus services section. I think the steps counted should probably just be N-400 steps and then we will do something else (or nothing at all) for the bonuses. Maybe Step X of Y where Y is dynamic based on the number of services you selected to apply for?

[2016-12-09 17:56] kategarklavs commented on #103
+1 to _Step X of Y_. Re: bonus steps: @donjo, I'm inclined to agree with the _do nothing_ stance — to include those in the total # of steps could presume that folks should choose one or more of the add-ons (whereas it's totally fine if people opt not to go w/any of the add ons).

[2016-12-09 18:38] #122 closed, assigned to fureigh

[2016-12-09 23:36] fureigh commented on #102
See #134 for discussion.

[2016-12-09 23:54] fureigh opened #136 "Update checkboxes to avoid validation errors"
**Steps to reproduce:**
1. Load the USCIS application (currently at `/`).
2. Click through to `2. Information about you`.
3. Select an checkbox in the `Eye color` field (say, `hazel`).
4. Click `Next`.
5. Note that you get an error: `Select a valid choice. ['5'] is not one of the available choices.`

[2016-12-09 23:57] fureigh commented on #103
:100: to all of the above. #131 is the ticket for restricting the number of steps to the N-400 steps. Closing this ticket. :tada:

[2016-12-09 23:57] #103 closed, assigned to nobody

[2016-12-12 20:08] fureigh opened #137 "Refactor the way USWDS classes are applied to widget elements"
Follow-up on https://github.com/18F/ffd-info-exchange/pull/134#issuecomment-266513797. Low priority.

[2016-12-12 21:17] fureigh commented on #102
Closing this for now.

[2016-12-12 21:17] #102 closed, assigned to donjo

[2016-12-12 21:18] fureigh commented on #60
Closing for now, per #134.

[2016-12-12 21:18] #60 closed, assigned to donjo

[2016-12-12 21:59] fureigh opened #139 "Update 'Sign and pay' screen to have 'Submit' button instead of 'Next'"

[2016-12-12 22:13] fureigh commented on #136
Ruled out the possibility that changing keys to be integers would solve this problem. Minimum viable solution in #140.

[2016-12-12 22:28] #136 closed, assigned to fureigh

[2016-12-13 00:23] donjo opened #141 "Adjust how help text appears"
Currently the help text will appear when you hover over the area where the help text is displayed. The text should only appear if you hover over the question mark. This isn't a problem most of the time but if here are two help text boxes near each other the user may unintentionally trigger the non-active help text while hovering over the one they intend to be active.

[2016-12-13 19:19] #139 closed, assigned to fureigh

[2016-12-13 19:38] fureigh commented on #97
Closing this for now; will reopen as part of cleanup as time allows.

[2016-12-13 19:38] #97 closed, assigned to nobody

[2016-12-14 22:59] #107 closed, assigned to fureigh

[2016-12-14 22:59] #110 closed, assigned to fureigh

[2016-12-14 22:59] #130 closed, assigned to fureigh

[2016-12-14 22:59] #131 closed, assigned to nobody

[2016-12-14 23:01] fureigh commented on #132
Closed in #143.

[2016-12-14 23:01] #132 closed, assigned to nobody

[2016-12-14 23:02] fureigh commented on #104
Closed in #143.

[2016-12-14 23:02] #104 closed, assigned to fureigh

[2016-12-14 23:06] fureigh opened #144 "If keeping the menu-of-services approach, implement a 'Done' indicator"
**User story:**
As a person applying for additional services after completing the N-400, if I submit an additional form and return to the menu of services, I want to clearly see that I've already applied for it.

**Technical notes:**
* Change the forms to actually submit
* Use session storage

[2016-12-14 23:11] fureigh commented on #144
Following up on @donjo's [excellent catch](https://github.com/18F/ffd-info-exchange/pull/143#pullrequestreview-13020252).

As for button copy: I suggest we have it change from `Apply` to (no-longer-an-active-link) `Done`.

(Rationale: under different circumstances I'd suggest it be `Edit` instead, with the ability to make further changes, but in the workflow currently presented, the user has alrea

[2016-12-15 01:24] fureigh opened #145 "Split the second screen into two screens"
**User story:**
As a person navigating this N-400 form, I want to have fewer fields to contend with at a time so that I 1) don't feel (as) overwhelmed and 2) am more likely to complete the form.

**Technical notes:**
* Split after `Country of citizenship or nationality`
* Include a `Your information, continued` heading

[2016-12-15 01:39] fureigh opened #147 "[cleanup] [low priority] Change the step names to be semantic"
For the sake of hypothetical maintainability.

Inspired by #146.

[2016-12-15 01:42] fureigh opened #148 "[maybe] Group fields into fieldsets with headings"
Now that different screens (can) use different templates, we have more room to customize.

Inspired by #146.

**Technical notes:**
* The template-form pairings are specified in `TEMPLATES` in `views.py`.
* Make use of https://docs.djangoproject.com/en/1.10/topics/forms/#rendering-fields-manually.

[2016-12-15 21:48] fureigh opened #150 "[cleanup] Move shared styles to `ffd_info_exchange`"
Per conversation in https://github.com/18F/ffd-info-exchange/pull/149#discussion_r92706141.

[2016-12-15 21:58] #141 closed, assigned to nobody

[2016-12-16 00:45] fureigh commented on #58
Moving this to sprint 6. Rationale: we don't need this for next week's testing, but doing it before the end of this engagement may support future conversations with agencies.

[2016-12-16 00:46] fureigh commented on #33
Moving this to sprint 6. Rationale: we don't need this for next week's testing, but doing it before the end of this engagement may support future conversations with agencies.

[2016-12-16 00:48] #145 closed, assigned to fureigh

[2016-12-16 15:53] #150 closed, assigned to nobody

[2016-12-16 16:55] fureigh opened #152 "Get `button-wrapper` div working the same as `apply-button`"
[USWDS specifies `button-wrapper`](https://standards.usa.gov/buttons/) but we're currently using `apply-button`, to slightly different effect.

Relevant for #144, in which "Done" buttons aren't exactly "Apply" buttons.

[2016-12-16 16:55] fureigh commented on #152
This one would be nice but is not a blocker.

[2016-12-16 18:49] fureigh opened #153 "Remove the verification screen in order to cut down on test completion time"

[2016-12-16 19:16] kategarklavs opened #154 "Plan ways to share our findings with 18F team"
Per our 12/16/16 retro, let's brainstorm a few ways to share our findings with the larger team.

Some ideas include:

- Hosting a demo during the all-hands
- Presenting findings at the design huddle
- Presenting at guild meetings

(If you think of other means of sharing, please add them to this issue!)

[2016-12-16 19:18] kategarklavs opened #155 "Onboarding materials for the next team"
At our 12/16/16 retro, we discussed creating an onboarding packet for the next team to take up this line of research.

Some possible to-dos:

- [ ] Create a doc/scratchpad with links to all of our notes/observations documents (thinking here of @cydharrell's excellent Privacy Act summary)
- [ ] In said doc, call out specific parts of the wiki that might be of use
- [ ] Contact list (former project

[2016-12-16 19:34] kategarklavs commented on #115
Shared the script at today's demo, and everything should be set!

Per this morning's demo discussion, I added passport + TSA PreCheck/Global Entry cost information to the script (should participants have questions about fees). I also added standard definitions of these services — in the case that participants aren't familiar with these services, the moderator can offer succinct descriptions.

Goin

[2016-12-16 19:34] #115 closed, assigned to kategarklavs

[2016-12-16 19:39] kategarklavs commented on #126
An update on the report: Made some good progress this week (and thank you to folks for their feedback!).

Right now, the report has a solid intro, executive summary, end-user research section, and preliminary findings. Agency research section is still in progress. We won't be able to finish the exec summary, findings, and potential next steps until after we complete next week's round of research.

[2016-12-16 21:16] fureigh opened #156 "Add help text for name change, Global Entry and passport options"
[Here's the content](https://docs.google.com/document/d/1-M41pPMeb4Q3C6i5Qnt-Lq9V8p2kb0WWqOvkzseWNVM/edit).

[2016-12-18 21:18] fureigh commented on #153
Ready for review in #158.

[2016-12-19 16:05] #153 closed, assigned to fureigh

[2016-12-19 16:05] #144 closed, assigned to fureigh

[2016-12-19 16:45] #156 closed, assigned to fureigh

[2016-12-19 18:41] fureigh commented on #148
Closing this as not relevant, as we're not testing it. If this week's testing reveals a need for this, I'll implement it as illustration.

[2016-12-19 18:41] #148 closed, assigned to nobody

[2016-12-19 18:42] fureigh commented on #152
Closing this as not relevant after this week's testing.

[2016-12-19 18:42] #152 closed, assigned to nobody

[2016-12-19 18:42] fureigh commented on #137
Keeping this one open because it has the potential to be relevant to other projects.

[2016-12-19 18:44] fureigh opened #160 "Cleanup: update about.yml"
As a person who worked on this project, I want to update `about.yml` so that we leave that piece of documentation in an accurate state.

[2016-12-19 18:48] fureigh commented on #124
Much as I'd like to implement this one, I'm closing it, as the confirmation screen came out in #153.

[2016-12-19 18:48] #124 closed, assigned to nobody

[2016-12-19 21:50] kategarklavs commented on #91
Going through our issues, I saw that this one is still open (oops!). I added our round 2 hypotheses to the wiki on 12/9 — closing this issue now.

[2016-12-19 21:50] #91 closed, assigned to nobody

[2016-12-19 21:51] kategarklavs opened #161 "Sprint 5 summary"
Per our policy of publishing our sprint-by-sprint activities to the wiki, this task involves providing a summary of what we did during sprint 5.

To-dos:

- [x] Draft summary
- [x] Share out with team to get their input
- [x] Publish to the wiki!

[2016-12-19 21:52] kategarklavs commented on #161
Draft is done:

https://docs.google.com/a/gsa.gov/document/d/1_bqVDnh-sqxvXWFUUIDyYDnx_Q2Rk3m6ukH81QPZczo/edit?usp=sharing

Share this doc in the channel & am awaiting feedback.

[2016-12-20 16:38] kategarklavs commented on #161
No comments on the draft I shared yesterday, so I'll be adding the sprint summary to the wiki now. (Folks can definitely add to/edit the doc once it's in the wiki!)

[2016-12-20 16:41] kategarklavs commented on #161
And the summary is up on the wiki!

[2016-12-20 16:41] #161 closed, assigned to nobody

[2016-12-20 17:13] fureigh opened #163 "Further streamline the form to facilitate user testing"
* Remove validation on Social Security Field
* Remove the file upload screen

[2016-12-21 21:59] donjo commented on #163
closing this out since it wasn't closed automatically in the PR

[2016-12-21 21:59] #163 closed, assigned to fureigh

[2016-12-22 00:11] fureigh commented on #147
Ready for review in #166.

[2016-12-22 14:33] porta-antiporta commented on #116
closing, research plan doesn't need updating.

[2016-12-22 14:33] #116 closed, assigned to nobody

[2016-12-22 14:34] porta-antiporta opened #167 "Synthesize USCIS user findings"
Synthesize our 9 user interviews for general themes so that it can be incorporated into the final report.

[2016-12-22 14:36] porta-antiporta opened #168 "Update final report to include latest"
Draft of final report is at:

Need to update it to include:
* USCIS user interview synthesis
* Any updates to agency research (if any)

[2016-12-22 14:36] porta-antiporta commented on #7
and 20 days later....

[2016-12-22 14:36] #7 closed, assigned to jpyuda, cydharrell, porta-antiporta

[2016-12-22 14:38] porta-antiporta commented on #117
Complete and handed off to #research.  https://drive.google.com/drive/folders/0B8u6AetkKiTUeWhvOVFkZG5WSzQ

[2016-12-22 14:38] #117 closed, assigned to porta-antiporta

[2016-12-22 14:41] porta-antiporta commented on #114
Had discussion with FS and BLM.
Notes here:  https://drive.google.com/drive/folders/0B8u6AetkKiTUQnlacm1ZaWpmS3c

TL:DR;  The agencies do have an need to be able to share information in the permitting process.  However, the use case is quite different from the info-exchange work this project is investigating.  OPP (@jpyuda) will be following up on the best course for FS and BLM to pursue.

Agency

[2016-12-22 14:41] #114 closed, assigned to cydharrell

[2016-12-22 14:43] porta-antiporta opened #169 "Publish final report"
Given we have some bandwidth, lets discuss what the best way to publish our final report should be (more than a google doc).

* Formatting of final report
* How will it be placed on labs.usa.gov

[2016-12-22 14:45] porta-antiporta commented on #33
Putting this in the icebox.

[2016-12-22 14:53] porta-antiporta commented on #160
I'll take this on and send out for review.

[2016-12-22 14:55] porta-antiporta commented on #8
This has been completed and will be included in final report.

[2016-12-22 14:55] #8 closed, assigned to cydharrell

[2016-12-22 14:57] porta-antiporta commented on #41
duplicate of #127

[2016-12-22 14:57] #41 closed, assigned to nobody

[2016-12-22 14:59] porta-antiporta commented on #154
Re: demo at all hands, have been asked to present this.

[2016-12-22 15:31] kategarklavs commented on #168
This is part of #126 — can we merge these issues (or close this one)?

[2016-12-22 15:31] porta-antiporta commented on #168
closing!

[2016-12-22 15:31] #168 closed, assigned to nobody

[2016-12-22 15:34] kategarklavs commented on #168
Word! 👍

[2016-12-22 21:24] fureigh opened #170 "Update README to clarify the state of the codebase"

[2016-12-22 21:31] fureigh commented on #108
No longer relevant.

[2016-12-22 21:31] #108 closed, assigned to nobody

[2016-12-22 21:34] fureigh commented on #47
If it were clear that someone would be building on this codebase, this would be a must-have. As it is, it's not really a requirement, but I might use available remaining time to set this up.

[2016-12-22 21:37] porta-antiporta commented on #155
- [ ] Navigation of our google drive folder
- [ ] Infosheet similar to @jpyuda intro when we kicked off
- [ ] Cleanup of technical README #170

[2016-12-22 21:38] fureigh commented on #33
Sounds like we're scrapping this one in favor of leaving 1) a codebase with clear deployment instructions and 2) more specific representation in the report (screenshot snippets, animated GIFs, whatever works).

[2016-12-22 21:38] #33 closed, assigned to nobody

[2016-12-22 21:43] fureigh opened #171 "Finish migrating the Labs project"
:)

[2016-12-22 21:46] donjo commented on #171
Things to do

- [x] migrate production to GovCloud
- [x] set up automated deployment

[2016-12-28 17:00] #160 closed, assigned to porta-antiporta

[2016-12-28 18:58] #147 closed, assigned to fureigh

[2016-12-28 21:44] porta-antiporta commented on #40
think this can be closed @kategarklavs ?  we somewhat tackled this via our wiki updates right?

[2016-12-28 22:28] porta-antiporta commented on #167
https://docs.google.com/document/d/1FidEDckNn4iDJBDKpOzhocYNF04lHx-6Rs36WVt2biQ/edit

[2016-12-29 17:48] kategarklavs commented on #40
@porta-antiporta Howdy! Yes, I think this can be closed — we can direct folks to our wiki as we present our research (during All Hands, design huddle, etc.). Closing now.

[2016-12-29 17:48] #40 closed, assigned to nobody

[2016-12-30 00:48] fureigh opened #174 "Add FAFSA screenshots to report"
It turns out this is a good opportunity to clean up two issues in the codebase:
- [ ] #99
- [ ] #97

[2017-01-03 22:13] fureigh commented on #118
Closing in lieu of the screenshots in #126.

[2017-01-03 22:13] #118 closed, assigned to nobody

[2017-01-05 21:15] #174 closed, assigned to fureigh

[2017-01-05 21:15] fureigh commented on #169
...and add a link in the README.

[2017-01-05 21:16] fureigh commented on #169
Assigning @kategarklavs to reflect that she's been leading the work on this.

[2017-01-05 21:17] fureigh commented on #171
@donjo Did https://github.com/18F/ffd-microsite/pull/60 and https://github.com/18F/ffd-microsite/pull/61 close this?

[2017-01-05 21:22] donjo commented on #171
@fureigh updating checkboxes. First item is resolved. Second item will be resolved in 18F/ffd-microsite#62

[2017-01-05 21:23] kategarklavs commented on #169
@fureigh Aye aye! In terms of actual publication, I expect that this may happen early next week — does that sound right to you and @donjo? (Not sure how long the design work will take/don't want to stress folks out ...)

[2017-01-06 18:57] fureigh commented on #169
@kategarklavs Cool. I think I'm all set on content edits...

[2017-01-06 18:57] kategarklavs commented on #169
@fureigh 🎉 🎉 So close! If you do need any edits, just holler — I'm working on a billable Writing Lab project/other projects today, and am happy to jump in to make any last-minute changes ...

[2017-01-11 23:23] donjo commented on #171
migration complete and automated deployment set up successfully in 18f/ffd-microsite#63

last thing to do is get the labs.usa.gov domain pointing to the right spot

[2017-02-28 18:52] fureigh commented on #171
@donjo Following up, as yesterday was the deadline for migration to GovCloud: has this been completed? Is it safe to delete everything from the original hosting environment?

(cc @jcscottiii)

[2017-02-28 19:00] donjo commented on #171
@fureigh yep. all done

[2017-02-28 19:11] porta-antiporta commented on #171
for posterity: relevant slack thread: https://gsa-tts.slack.com/archives/ffd-info-exchange/p1484759667001593

[2017-02-28 19:13] fureigh commented on #171
@donjo @porta-antiporta Thanks!

[2017-02-28 19:19] #171 closed, assigned to donjo

[2017-03-01 05:36] #167 closed, assigned to donjo

[2017-03-01 05:37] #106 closed, assigned to nobody

[2017-03-01 05:38] porta-antiporta commented on #61
closing given project is done.  can reopen if we start building other prototypes.

[2017-03-01 05:38] #61 closed, assigned to nobody

[2017-03-01 05:40] porta-antiporta commented on #126
Report has been delivered to OPP.  Closing this one but leaving #169 as open to see if we will publish the report to "somewhere other than g-drive"

[2017-03-01 05:40] #126 closed, assigned to kategarklavs

[2017-03-01 05:41] porta-antiporta commented on #127
Given current comms approval process and folks have transitioned off; closing this issue.

[2017-03-01 05:41] #127 closed, assigned to kategarklavs

[2017-03-01 05:42] porta-antiporta commented on #58
not needed

[2017-03-01 05:42] #58 closed, assigned to nobody

[2017-03-01 05:42] porta-antiporta commented on #9
Closing, project is over and final report documents how far we were able to get.

[2017-03-01 05:43] #111 closed, assigned to nobody

[2017-03-01 05:43] porta-antiporta commented on #12
project is concluded, closing epic

[2017-03-01 05:43] #12 closed, assigned to nobody

[2017-03-01 05:44] porta-antiporta commented on #112
closing, final report provided to our OPP partners.

[2017-03-01 05:44] #112 closed, assigned to nobody

[2017-03-01 05:44] #9 closed, assigned to nobody

[2017-03-02 15:55] jcscottiii commented on #171
Deleted the old org!

[2017-03-02 16:17] porta-antiporta commented on #171
verified that going to labs.usa.gov we are still seeing the site.  (layman's confirmation that we are definitely operating out of GovCloud now).